Repository Open-Maze/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check ./src, prettier --check ./public, stylelint ./src

.lintstagedrc.json:

{
  "src/**/*.{css,scss,js,jsx,ts,tsx,html}": "prettier --check ./src",
  "public/**/*.html": "prettier --check ./public",
  "src/**/*.{css,scss}": "stylelint ./src"
}

Responsive fixes
  src/blocks/Header/Header.jsx
  src/blocks/Information/Information.jsx
  src/blocks/Nav/Nav.jsx
  src/blocks/ProjectsSection/ProjectsSection.css
  src/blocks/ProjectsSection/ProjectsSection.jsx
  src/components/CardIcon/CardIcon.jsx
  src/components/ContactCard/ContactCard.jsx
Due: prettier --check ./src, stylelint ./src

Update Button.css
  src/components/Button/Button.css
Due: prettier --check ./src, stylelint ./src

Responsive navbar
  src/blocks/Nav/Nav.css
  src/blocks/Nav/Nav.jsx
  src/blocks/Nav/test.jsx
Due: prettier --check ./src, stylelint ./src

Fix margin
  src/blocks/Nav/Nav.jsx
Due: prettier --check ./src

Click interaction
  src/blocks/Nav/Nav.jsx
Due: prettier --check ./src

Delete test.jsx
  src/blocks/Nav/test.jsx
Due: prettier --check ./src

Cleanup
  src/blocks/Nav/Nav.css
Due: prettier --check ./src, stylelint ./src

Update dependencies
  package-lock.json
  package.json
Due: none

Remove .npmrc
  .npmrc
Due: none

Update .gitignore
  .gitignore
Due: none

Replace text and add new routes for products
  src/App.jsx
  src/assets/images/illustrations/product.svg
  src/blocks/CoreValues/CoreValues.jsx
  src/blocks/ProjectsSection/ProjectsSection.jsx
  src/blocks/Team/Team.jsx
  src/components/CardImageHorizontal/CardImageHorizontal.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/DocumentScreener.jsx
  src/pages/Home.jsx
  src/pages/KnowledgeProfiler.jsx
  src/pages/Products.jsx
  src/pages/QApp.jsx
Due: prettier --check ./src

Fix responsive grid
  src/components/CardImageHorizontal/CardImageHorizontal.jsx
Due: prettier --check ./src

Add goals per tool
  src/blocks/CoreValues/CoreValues.jsx
  src/blocks/Goals/Goals.jsx
  src/blocks/Information/Information.jsx
  src/blocks/Team/Team.jsx
  src/components/CardIcon/CardIcon.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/DocumentScreener.jsx
  src/pages/Home.jsx
  src/pages/KnowledgeProfiler.jsx
  src/pages/NotFound.jsx
  src/pages/Products.jsx
  src/pages/QApp.jsx
Due: prettier --check ./src

Fix header padding
  src/blocks/Header/Header.jsx
Due: prettier --check ./src

Conditional rendering for components
  src/blocks/ContactSection/ContactSection.jsx
  src/blocks/CoreValues/CoreValues.jsx
  src/blocks/Feature/Feature.jsx
  src/blocks/Goals/Goals.jsx
  src/blocks/Header/Header.jsx
  src/blocks/ProjectsSection/ProjectsSection.css
  src/blocks/ProjectsSection/ProjectsSection.jsx
  src/blocks/Team/Team.jsx
Due: prettier --check ./src, stylelint ./src

Match colors with original design
  src/blocks/Feature/Feature.jsx
  src/blocks/Information/Information.jsx
  src/blocks/ProjectsSection/ProjectsSection.css
  src/components/CardImageHorizontal/CardImageHorizontal.jsx
  src/pages/Home.jsx
  src/pages/Products.jsx
Due: prettier --check ./src, stylelint ./src

Add optional second button to Header
  src/blocks/Header/Header.jsx
  src/blocks/ProjectsSection/ProjectsSection.jsx
  src/pages/Contact.jsx
  src/pages/Home.jsx
Due: prettier --check ./src

Fix external link bug
  src/blocks/ContactSection/ContactSection.jsx
Due: prettier --check ./src

ContactSection button to Contact page
  src/blocks/ContactSection/ContactSection.jsx
  src/pages/Home.jsx
Due: prettier --check ./src

Remove Button in About Header
  src/pages/About.jsx
Due: prettier --check ./src

CTA Button translate
  src/pages/About.jsx
  src/pages/DocumentScreener.jsx
  src/pages/KnowledgeProfiler.jsx
  src/pages/Products.jsx
  src/pages/QApp.jsx
Due: prettier --check ./src

Rename CardImage
  src/components/CardImage/CardImage.jsx
  src/pages/Products.jsx
Due: prettier --check ./src

Add bottom border to hamburger menu
  src/blocks/Nav/Nav.jsx
Due: prettier --check ./src

Fix responsive order for CardImage
  src/components/CardImage/CardImage.jsx
Due: prettier --check ./src

Code scanning and Dependabot
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

Add custom scrollbar
  src/styles/globals.css
Due: prettier --check ./src, stylelint ./src

Update deps
  package-lock.json
  package.json
Due: none

Vite 4
  package-lock.json
  package.json
Due: none

Cleanup
  src/blocks/CTA/CTA.jsx
  src/blocks/CardImage/CardImage.jsx
  src/blocks/ContactSection/ContactSection.jsx
  src/blocks/CoreValues/CoreValues.jsx
  src/blocks/Goals/Goals.jsx
  src/blocks/Header/Header.jsx
  src/blocks/Information/Information.jsx
  src/blocks/ProjectsSection/ProjectsSection.jsx
  src/blocks/Team/Team.jsx
  src/components/ContactForm/ContactForm.jsx
  src/components/Input/Input.jsx
  src/pages/Products.jsx
Due: prettier --check ./src

Add comments
  src/blocks/CardImage/CardImage.jsx
  src/components/ContactForm/ContactForm.jsx
  src/pages/Contact.jsx
  src/pages/Products.jsx
Due: prettier --check ./src

Illustrations
  src/assets/images/illustrations/404.svg
  src/assets/images/illustrations/contact.svg
  src/assets/images/illustrations/documentscreener.svg
  src/assets/images/illustrations/expo.svg
  src/assets/images/illustrations/knowledgeprofiler.svg
  src/assets/images/illustrations/qapp.svg
  src/assets/images/illustrations/team.svg
  src/blocks/Header/Header.css
  src/blocks/Header/Header.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/DocumentScreener.jsx
  src/pages/KnowledgeProfiler.jsx
  src/pages/NotFound.jsx
  src/pages/Products.jsx
  src/pages/QApp.jsx
Due: prettier --check ./src, stylelint ./src

CTA Block shows LinkedIn instead of Phone
  package-lock.json
  package.json
  src/blocks/CTA/CTA.jsx
  src/pages/About.jsx
  src/pages/DocumentScreener.jsx
  src/pages/KnowledgeProfiler.jsx
  src/pages/Products.jsx
  src/pages/QApp.jsx
Due: prettier --check ./src

Made scroll down arrow optional per page
  src/blocks/Header/Header.jsx
  src/pages/About.jsx
  src/pages/DocumentScreener.jsx
  src/pages/Home.jsx
  src/pages/KnowledgeProfiler.jsx
  src/pages/Products.jsx
  src/pages/QApp.jsx
Due: prettier --check ./src

Team block function titles
  src/blocks/Header/Header.jsx
  src/pages/About.jsx
Due: prettier --check ./src

Team function titles
  src/pages/About.jsx
Due: prettier --check ./src

Add contact buttons to Contact page
  src/blocks/Header/Header.jsx
  src/pages/Contact.jsx
Due: prettier --check ./src

Add Image block
  src/blocks/Image/Image.jsx
Due: prettier --check ./src

Add hover transition
  src/components/Button/Button.css
Due: prettier --check ./src, stylelint ./src

Consistent rounded corners
  src/blocks/CTA/CTA.jsx
  src/blocks/Information/Information.jsx
  src/blocks/ProjectsSection/ProjectsSection.css
  src/components/CardIcon/CardIcon.jsx
  src/components/CardImage/CardImage.jsx
  src/components/TeamMember/TeamMember.jsx
  src/pages/About.jsx
Due: prettier --check ./src, stylelint ./src

Start shadows and borders
  src/blocks/CTA/CTA.jsx
  src/blocks/Header/Header.css
  src/blocks/Image/Image.jsx
  src/blocks/Product/Product.jsx
  src/components/Button/Button.css
  src/components/CardIcon/CardIcon.jsx
  src/components/CardImage/CardImage.jsx
  src/components/ContactCard/ContactCard.jsx
  src/components/TeamMember/TeamMember.jsx
  src/pages/Products.jsx
Due: prettier --check ./src, stylelint ./src
