Repository Open-Maze/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check ./src, prettier --check ./public, stylelint ./src

.lintstagedrc.json:

{
  "src/**/*.{css,scss,js,jsx,ts,tsx,html}": "prettier --check ./src",
  "public/**/*.html": "prettier --check ./public",
  "src/**/*.{css,scss}": "stylelint ./src"
}

Cleanup code
  .eslintignore
  .lintstagedrc.json
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  src/components/App/App.jsx
  src/components/App/App.test.jsx
  src/components/Button/Button.jsx
  src/components/CardIconVertical/CardIconVertical.jsx
  src/components/Contact/Contact.jsx
  src/components/ContactCardS/ContactCardS.jsx
  src/components/ContactCardS/ContactCardS.scss
  src/components/CoreValues/CoreValues.jsx
  src/components/FeatureComponent/FeatureComponent.jsx
  src/components/FeatureComponent/FeatureComponent.scss
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.scss
  src/components/HeaderL/HeaderL.jsx
  src/components/HeaderL/HeaderL.scss
  src/components/HeaderS/HeaderS.jsx
  src/components/HeaderS/HeaderS.scss
  src/components/Icon/Icon.jsx
  src/components/Icon/Icon.scss
  src/components/Information/Information.jsx
  src/components/Input/Input.jsx
  src/components/Input/Input.scss
  src/components/Nav/Nav.jsx
  src/components/ProjectsSection/ProjectsSection.jsx
  src/components/ProjectsSection/ProjectsSection.scss
  src/core/useFetch.jsx
  src/pages/Home.jsx
  src/pages/shared.scss
  src/styles/_variables.scss
  src/styles/fonts.scss
Due: prettier --check ./src, stylelint ./src

Create Routes
  src/components/Footer/Footer.scss
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/Products.jsx
Due: prettier --check ./src, stylelint ./src

Fix route errors
  .github/workflows/ci.yml
  .github/workflows/deploy_staging.yml
  src/components/ContactSection/ContactSection.jsx
  src/components/ContactSection/ContactSection.scss
  src/components/Nav/Nav.jsx
  src/pages/Home.jsx
  src/pages/shared.scss
Due: prettier --check ./src, stylelint ./src

Prettier
  .github/workflows/deploy_staging.yml
  .stylelintrc.json
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Migrate from old repo
  src/components/Team/Team.jsx
  src/components/Team/Team.scss
  src/components/TeamMember/TeamMember.jsx
  src/components/TeamMember/TeamMember.scss
Due: prettier --check ./src, stylelint ./src

Navbar
  src/components/Nav/Nav.jsx
  src/components/Nav/Nav.scss
Due: prettier --check ./src, stylelint ./src

Scroll fix
  src/components/App/App.jsx
  src/components/ScrollToTop/ScrollToTop.jsx
Due: prettier --check ./src

Fix Staging pipeline
  public/.htaccess
Due: none

Update package
  .husky/_/husky.sh
  package-lock.json
  package.json
Due: none

Auto install hooks
  package.json
Due: none

Animation improvement
  src/components/HeaderL/HeaderL.jsx
  src/components/Nav/Nav.jsx
Due: prettier --check ./src

Create vercel.sh
  vercel.sh
Due: none

Fix errors
  package-lock.json
  package.json
  src/components/App/App.jsx
  tailwind.config.js
Due: prettier --check ./src

Remove comments
  src/components/App/App.jsx
Due: prettier --check ./src

Start rebuilding styling
  src/App.jsx
  src/App.test.jsx
  src/components/Button/Button.css
  src/index.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/Home.jsx
  src/pages/Products.jsx
  src/pages/shared.css
  tailwind.config.js
Due: prettier --check ./src, stylelint ./src

Refactor buttons
  src/components/Button/Button.css
Due: prettier --check ./src, stylelint ./src

Link buttons
  postcss.config.js
  src/components/Button/Button.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/HeaderL/HeaderL.jsx
  src/components/HeaderS/HeaderS.jsx
  src/components/Information/Information.jsx
  src/components/Nav/Nav.jsx
Due: prettier --check ./src

Fix PostCSS
  package-lock.json
  package.json
  src/components/Button/Button.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/HeaderL/HeaderL.jsx
  src/components/HeaderS/HeaderS.jsx
  src/components/Information/Information.jsx
  src/components/Nav/Nav.jsx
Due: prettier --check ./src

Update package-lock.json
  package-lock.json
Due: none

Start contact card styling
  src/components/CardIconVertical/CardIconVertical.jsx
  src/components/ContactCardS/ContactCardS.jsx
  tailwind.config.js
Due: prettier --check ./src

Icons
  src/components/ContactCardS/ContactCardS.css
  src/components/ContactCardS/ContactCardS.jsx
  tailwind.config.js
Due: prettier --check ./src, stylelint ./src

Contact Card S
  src/components/ContactCardS/ContactCardS.css
  src/components/ContactCardS/ContactCardS.jsx
Due: prettier --check ./src, stylelint ./src

Typography globals
  package-lock.json
  package.json
  src/components/ContactCardS/ContactCardS.jsx
  src/components/ContactSection/ContactSection.jsx
  src/index.css
  tailwind.config.js
Due: prettier --check ./src, stylelint ./src

Slate 700 for paragraphs
  src/components/CardIconVertical/CardIconVertical.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/CoreValues/CoreValues.jsx
  src/index.css
Due: prettier --check ./src, stylelint ./src

Grid responsive
  src/components/ContactSection/ContactSection.jsx
  src/components/CoreValues/CoreValues.jsx
Due: prettier --check ./src

Core values tailwind
  src/components/CardIconVertical/CardIconVertical.jsx
Due: prettier --check ./src

Update FeatureComponent
  .eslintrc.json
  src/components/FeatureComponent/FeatureComponent.jsx
Due: prettier --check ./src

Update fontawesome
  package-lock.json
  package.json
  src/components/Footer/Footer.jsx
Due: prettier --check ./src

Clean package
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

Fix package
  package-lock.json
  package.json
Due: none

try
  package-lock.json
  package.json
Due: none

Revert
  package-lock.json
  package.json
Due: none

Almost finish footer
  src/components/Footer/Footer.jsx
Due: prettier --check ./src

Fix npm login error?
  package-lock.json
Due: none

Vite Vite Vite
  .gitignore
  .stylelintrc.json
  index.html
  package-lock.json
  package.json
  postcss.config.cjs
  public/favicon.ico
  public/favicon.svg
  src/App.test.jsx
  src/components/Button/Button.css
  src/components/Button/Button.jsx
  src/components/ContactCardS/ContactCardS.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/CoreValues/CoreValues.jsx
  src/components/Footer/Footer.jsx
  src/index.css
  src/index.jsx
  src/main.jsx
  src/reportWebVitals.js
  src/setupTests.js
  tailwind.config.cjs
  vite.config.js
Due: prettier --check ./src, stylelint ./src

Bugfixes
  package-lock.json
  package.json
  src/assets/images/illustrations-products/knowledge-profiler.svg
  src/components/ProjectsSection/ProjectsSection.jsx
Due: prettier --check ./src
