Repository Open-Maze/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check ./src, prettier --check ./public, stylelint ./src

Fix tailwind
  index.html
  tailwind.config.cjs
Due: none

Remove duplicatie title
  index.html
Due: none

Hide Nav and footer
  .stylelintrc.json
  src/App.jsx
  src/components/Button/Button.css
  src/components/ContactCardS/ContactCardS.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/CoreValues/CoreValues.jsx
  src/components/Footer/Footer.jsx
  src/index.css
  src/pages/NotFound.jsx
  src/pages/shared.css
Due: prettier --check ./src, stylelint ./src

Vite SVGR plugin
  package-lock.json
  package.json
  src/App.jsx
  vite.config.js
Due: prettier --check ./src

Footer makes the site disappear
  .github/workflows/ci.yml
  src/App.jsx
  src/components/Footer/Footer.jsx
  src/globals.css
  src/main.jsx
Due: prettier --check ./src, stylelint ./src

Start rebuild footer
  src/App.jsx
  src/components/Footer/Footer.jsx
Due: prettier --check ./src

Fix fontawesome bug footer
  src/components/Footer/Footer.jsx
Due: prettier --check ./src

Fix footer moment
  src/components/Footer/Footer.jsx
Due: prettier --check ./src

Update README.md
  README.md
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Add Google Analytics to landingspage
  public/index.html
Due: prettier --check ./public

Finish footer
  src/components/Footer/Footer.jsx
Due: prettier --check ./src

Footer responsive + favicon
  src/assets/images/logo/mark.svg
  src/components/Footer/Footer.jsx
Due: prettier --check ./src

Start HeaderL
  src/components/ContactSection/ContactSection.jsx
  src/components/HeaderL/HeaderL.jsx
  src/globals.css
Due: prettier --check ./src, stylelint ./src

Fix line height h1
  src/components/HeaderL/HeaderL.jsx
Due: prettier --check ./src

Finish HeaderL Tailwind
  src/components/HeaderL/HeaderL.jsx
  tailwind.config.cjs
Due: prettier --check ./src

Merge HeaderL and HeaderS in one component
  src/components/Header/Header.css
  src/components/Header/Header.jsx
  src/components/HeaderS/HeaderS.jsx
  src/pages/Home.jsx
Due: prettier --check ./src, stylelint ./src

Move scroll component to Core
  src/App.jsx
  src/core/ScrollToTop.jsx
Due: prettier --check ./src

Refactor Icon component
  src/components/Icon/Icon.css
  src/components/Icon/Icon.jsx
Due: prettier --check ./src, stylelint ./src

Enable AOS again
  src/App.jsx
Due: prettier --check ./src

Website feedback code
  .eslintignore
  src/assets/images/icons/chevron-down.svg
  src/components/App/App.jsx
  src/components/HeaderL/HeaderL.jsx
  src/components/HeaderL/HeaderL.scss
Due: prettier --check ./src, stylelint ./src

Hide scroll down on mobile
  src/components/HeaderL/HeaderL.scss
Due: prettier --check ./src, stylelint ./src

Implement changes from main
  index.html
  src/assets/images/icons/chevron-down.svg
  src/components/Header/Header.jsx
  src/globals.css
  src/pages/Home.jsx
Due: prettier --check ./src, stylelint ./src

Update CI/CD
  .github/workflows/deploy_main.yml
  .github/workflows/deploy_staging.yml
Due: none

Update ProjectsSection.jsx
  src/components/ProjectsSection/ProjectsSection.jsx
Due: prettier --check ./src

Text feedback from main
  src/components/ProjectsSection/ProjectsSection.jsx
Due: prettier --check ./src

Information block Tailwind
  src/components/Header/Header.jsx
  src/components/Information/Information.jsx
  src/globals.css
Due: prettier --check ./src, stylelint ./src

Fix footer size
  src/components/ContactSection/ContactSection.jsx
Due: prettier --check ./src

Nav Tailwind
  src/components/Footer/Footer.jsx
  src/components/Nav/Nav.css
  src/components/Nav/Nav.jsx
Due: prettier --check ./src, stylelint ./src

Fix container
  src/components/Icon/Icon.css
  src/globals.css
  tailwind.config.cjs
Due: prettier --check ./src, stylelint ./src

Improve globals
  src/components/Header/Header.jsx
  src/components/ProjectsSection/ProjectsSection.jsx
  src/globals.css
Due: prettier --check ./src, stylelint ./src

Cleanup
  src/fonts.css
  src/globals.css
  src/main.jsx
Due: prettier --check ./src, stylelint ./src

Start ProjectsSection Tailwind
  src/components/ProjectsSection/ProjectsSection.css
  src/components/ProjectsSection/ProjectsSection.jsx
Due: prettier --check ./src, stylelint ./src

Refactor ProjectsSection to Tailwind
  src/components/ProjectsSection/ProjectsSection.css
  src/components/ProjectsSection/ProjectsSection.jsx
Due: prettier --check ./src, stylelint ./src

Cleanup
  .eslintignore
  .prettierignore
  .stylelintignore
  package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

Fix Nav active class bug
  src/components/Nav/Nav.jsx
Due: prettier --check ./src

Project section styling fix
  package-lock.json
  src/components/ProjectsSection/ProjectsSection.jsx
Due: prettier --check ./src

Path conditions:
  prettier --check ./src: any of: src/**/*.{css,scss,js,jsx,ts,tsx,html}
  prettier --check ./public: any of: public/**/*.html
  stylelint ./src: any of: src/**/*.{css,scss}
