Repository Open-Maze/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check ./src, prettier --check ./public, stylelint ./src

.lintstagedrc.json:

{
  "src/**/*.{css,scss,js,jsx,ts,tsx,html}": "prettier --check ./src",
  "public/**/*.html": "prettier --check ./public",
  "src/**/*.{css,scss}": "stylelint ./src"
}

Update package-lock.json
  package-lock.json
Due: none

Remove .npmrc
  .npmrc
Due: none

npm to yarn
  .github/workflows/ci.yml
  .github/workflows/deploy_main.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/prettier.yml
  package-lock.json
  yarn.lock
Due: none

Update yarn.lock
  yarn.lock
Due: none

Revert
  .github/workflows/ci.yml
  .github/workflows/deploy_main.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/prettier.yml
  package-lock.json
  yarn.lock
Due: none

Revert "Remove .npmrc"
  .npmrc
Due: none

Revert
  .github/workflows/ci.yml
  .github/workflows/deploy_main.yml
  .github/workflows/deploy_staging.yml
  package-lock.json
  yarn.lock
Due: none

Styling & animation fixes
  src/components/ProjectsSection/ProjectsSection.css
  src/components/ProjectsSection/ProjectsSection.jsx
Due: prettier --check ./src, stylelint ./src

Font Awesome bugfix
  src/components/ProjectsSection/ProjectsSection.jsx
  vite.config.js.timestamp-1665221114677.mjs
Due: prettier --check ./src

Prettier
  vite.config.js.timestamp-1665221114677.mjs
Due: none

Create vercel.json
  vercel.json
Due: none

Cleanup
  .eslintignore
  .gitignore
  .nvmrc
  .prettierignore
  .stylelintignore
  babel-plugin-macros.config.js
  babel.config.js
  package-lock.json
  package.json
  src/App.jsx
  src/components/Footer/Footer.jsx
  src/components/Icon/Icon.jsx
  src/components/ProjectsSection/ProjectsSection.jsx
  src/fonts.css
  src/main.jsx
  src/styles/fonts.css
  src/styles/globals.css
  vite.config.js
Due: prettier --check ./src, stylelint ./src

Fix Icon component
  src/components/CoreValues/CoreValues.jsx
Due: prettier --check ./src

Update deps
  package-lock.json
  package.json
  vite.config.js
Due: none

To Tailwind
  src/components/FeatureComponent/FeatureComponent.jsx
  src/pages/Products.jsx
Due: prettier --check ./src

Update FeatureComponent.jsx
  src/components/FeatureComponent/FeatureComponent.jsx
Due: prettier --check ./src

Card Icon Horizontal
  src/components/CardIcon/CardIcon.css
  src/components/CardIcon/CardIcon.jsx
  src/components/CardIconVertical/CardIconVertical.jsx
  src/components/CoreValues/CoreValues.jsx
  src/components/Goals/Goals.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/NotFound.jsx
  src/pages/shared.css
Due: prettier --check ./src, stylelint ./src

Products header
  src/pages/Products.jsx
Due: prettier --check ./src

Created card
  src/components/CardImageHorizontal/CardImageHorizontal.jsx
Due: prettier --check ./src

Show card for preview
  src/pages/Products.jsx
Due: prettier --check ./src

Error fix
  src/pages/Products.jsx
Due: prettier --check ./src

Team member +team page
  src/assets/images/team/jordy.jpg
  src/assets/images/team/max.jpg
  src/assets/images/team/niek.jpg
  src/assets/images/team/ruben.jpg
  src/assets/images/team/seline.jpg
  src/assets/images/team/stijn.jpg
  src/components/CoreValues/CoreValues.jsx
  src/components/Team/Team.jsx
  src/components/TeamMember/TeamMember.jsx
  src/pages/About.jsx
Due: prettier --check ./src

Fix rounded corners
  src/components/ContactSection/ContactSection.jsx
  src/components/CoreValues/CoreValues.jsx
  src/components/FeatureComponent/FeatureComponent.jsx
  src/components/Goals/Goals.jsx
  src/components/Information/Information.jsx
  src/components/ProjectsSection/ProjectsSection.jsx
  src/components/Team/Team.jsx
  src/components/TeamMember/TeamMember.jsx
Due: prettier --check ./src

Setup component
  src/components/CTA/CTA.jsx
  src/pages/About.jsx
Due: prettier --check ./src

CTA image
  src/assets/images/logo/cta-pattern.svg
  src/assets/images/office.jpeg
  src/components/CTA/CTA.jsx
  src/components/ContactCardL/ContactCardL.css
  src/components/ContactCardL/ContactCardL.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/Team/Team.jsx
  src/styles/globals.css
  tailwind.config.cjs
Due: prettier --check ./src, stylelint ./src

Fix tailwind.config.cjs
  tailwind.config.cjs
Due: none

Responsive
  src/components/CTA/CTA.jsx
Due: prettier --check ./src

Animation
  src/components/CTA/CTA.jsx
Due: prettier --check ./src

Contact form structure
  src/components/ContactForm/ContactForm.jsx
  src/pages/Contact.jsx
Due: prettier --check ./src

Contact form back-end
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactForm/contact-form.php
Due: prettier --check ./src

Start destructuring content from components
  src/components/CTA/CTA.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/CoreValues/CoreValues.jsx
  src/pages/About.jsx
  src/pages/Home.jsx
Due: prettier --check ./src

Destructure content
  src/App.jsx
  src/components/Footer/Footer.jsx
  src/components/Goals/Goals.jsx
  src/components/Header/Header.jsx
  src/components/Information/Information.jsx
  src/components/Nav/Nav.jsx
  src/components/Team/Team.jsx
  src/components/TeamMember/TeamMember.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/Home.jsx
  src/pages/NotFound.jsx
  src/pages/Products.jsx
Due: prettier --check ./src

Remove {' '}
  src/components/CardImageHorizontal/CardImageHorizontal.jsx
Due: prettier --check ./src

No more empty buttons
  src/components/CTA/CTA.jsx
  src/components/CardImageHorizontal/CardImageHorizontal.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/Header/Header.jsx
  src/components/Information/Information.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/NotFound.jsx
  src/pages/Products.jsx
Due: prettier --check ./src

Rework on scroll animations
  src/components/CardIcon/CardIcon.jsx
  src/components/CardImageHorizontal/CardImageHorizontal.jsx
  src/components/ContactSection/ContactSection.jsx
  src/components/CoreValues/CoreValues.jsx
  src/pages/Products.jsx
Due: prettier --check ./src

Contact form back-end
  api/contact/index.php
  src/components/ContactForm/ContactForm.css
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactForm/contact-form.php
Due: prettier --check ./src, stylelint ./src

Refactor components and blocks
  src/App.jsx
  src/blocks/CTA/CTA.jsx
  src/blocks/ContactSection/ContactSection.jsx
  src/blocks/CoreValues/CoreValues.jsx
  src/blocks/Feature/Feature.jsx
  src/blocks/Footer/Footer.jsx
  src/blocks/Goals/Goals.jsx
  src/blocks/Header/Header.css
  src/blocks/Header/Header.jsx
  src/blocks/Information/Information.jsx
  src/blocks/Nav/Nav.css
  src/blocks/Nav/Nav.jsx
  src/blocks/ProjectsSection/ProjectsSection.css
  src/blocks/ProjectsSection/ProjectsSection.jsx
  src/blocks/Team/Team.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/Home.jsx
  src/pages/NotFound.jsx
  src/pages/Products.jsx
Due: prettier --check ./src, stylelint ./src

Refactor ContactCard
  src/blocks/ContactSection/ContactSection.jsx
  src/components/ContactCard/ContactCard.css
  src/components/ContactCard/ContactCard.jsx
Due: prettier --check ./src, stylelint ./src

Refactor Scroll
  src/App.jsx
  src/core/Scroll.jsx
Due: prettier --check ./src

Fix animations and external buttons
  src/blocks/CTA/CTA.jsx
  src/blocks/CoreValues/CoreValues.jsx
  src/blocks/Feature/Feature.jsx
  src/blocks/Footer/Footer.jsx
  src/blocks/Goals/Goals.jsx
  src/blocks/Header/Header.jsx
  src/blocks/Information/Information.jsx
  src/blocks/Nav/Nav.jsx
  src/blocks/ProjectsSection/ProjectsSection.jsx
  src/blocks/Team/Team.jsx
  src/components/Button/Button.jsx
  src/components/CardImageHorizontal/CardImageHorizontal.jsx
  src/components/TeamMember/TeamMember.jsx
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/Home.jsx
  src/pages/Products.jsx
Due: prettier --check ./src
